logs/
build/
out/
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~
*.sass-cache
.DS_Store
._*
Thumbs.db
.cache
.project
.springBeans
.settings
.factorypath
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
.hg
.svn
.CVS
.idea
.classpath
node_modules
config.ini
composer.phar
phpunit.xml

### Gradle ###
.gradle
bin/
start_core.sh
*.jar

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!config/libs/*.jar
!gradle-wrapper.jar
