<!DOCTYPE html>
<html>
<head>
    <title>Panin Survey Thank You</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css/panin.css" rel="stylesheet">
    <script src="/js/modernizr.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,300" rel="stylesheet" type="text/css">
</head>
<body class="container">
<div class="well text-center">
    <p>
        Terima Kasih. Data Anda telah kami simpan. Tunggu hadiah menarik dari kami.
    </p>
    <p>
        Untuk melengkapi data lagi, silakan tekan tombol 'Kembali ke Form'
    </p>
</div>
<a type="button" class="btn btn-primary btn-block" href="/microsite/panin/survey">Kembali ke Form</a>
</body>
</html>